<h1> Hello, here you have your facebook data</h1>
<% @posts['data'].each do |post| %>
  Post:
  <%= post['message'] %> <br>
  Likes:
  <%= post['likes']['summary']['total_count'] %> <br>
  Shares:
  <% if post['shares'].blank? %>
    0
  <% else %>
    <%= post['shares'] %>
  <% end %>
  <br><br><br>
<% end %>
